<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xiaolin.redis.mapper.BookMapper">

    <resultMap id="BaseResultMap" type="org.xiaolin.redis.domain.Book">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="authorId" column="author_id" jdbcType="BIGINT"/>
            <result property="clickNum" column="click_num" jdbcType="OTHER"/>
            <result property="likeNum" column="like_num" jdbcType="OTHER"/>
            <result property="commentNum" column="comment_num" jdbcType="OTHER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,author_id,
        click_num,like_num,comment_num,
        create_time,update_time
    </sql>

</mapper>
